h1, h3 {
  color: lightgrey;
}

.container {
  background-image: linear-gradient(mediumblue, lightblue);
}

.header {
  text-align: center;
}

.quote {
  color: white;
}

.button {
  background-color: #ADD8E6;
  border: 2px solid white;
}

.button:hover {
  color: white;
}

#mickey, #minnie, #winnie, #dory, #moana, #olaf {
  display: none;
}
