h1 {
  color: white;
}

.container {
  background-image: linear-gradient(royalblue, lightblue);
  padding-bottom: 15px;
}

.header {
  text-align: center;
}

.quote {
  color: white;
}

.button {
  background-color: #ADD8E6;
  border: 2px solid white;
}

.button:hover {
  color: white;
}

#mickey, #mufasa, #winnie, #dory, #moana, #olaf {
  display: none;
}
